body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
background: linear-gradient(135deg,#0f172a,#1e293b);
}

.card{
background:#1e1b4b;
padding:50px;
border-radius:20px;
text-align:center;
width:350px;
box-shadow:0 0 40px rgba(0,0,0,0.5);
}

h1{
color:#a78bfa;
font-size:40px;
}

p{
color:#cbd5f5;
}

input{
width:100%;
padding:15px;
margin-top:20px;
border-radius:10px;
border:none;
background:#312e81;
color:white;
}

button{
margin-top:25px;
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#6366f1,#8b5cf6);
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
opacity:0.9;
}

a{
display:block;
margin-top:20px;
color:#cbd5f5;
text-decoration:none;
}